body{
	background-color: #D8D8D8;
	font-family: 'Open Sans', sans-serif;
}

label{
	width: 100%;
	padding: 5px;
	font-size: 14px;
}

input, select {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

h1{
	background-color: #DF0101;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #FFF;
	padding: 10px; 
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.contenedor {
	margin: auto;
	margin-top: 3%;
	width: 60%;
	max-width: 400px;
	background: #F3F3F3;
	border: 1px solid rgba(0,0,0.2);
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.contenedor-contenido{
	padding: 20px;
}


.btnEnviar{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;
	background: #DF0101;
	border: 0;
	color: #FFF;
	opacity: 1;
	cursor: pointer;
	border-radius: 10px;
	margin-bottom: 0;
}

.btnEnviar:hover {
	opacity: 0.8;
}

.btnEnviar:active {
	transform: scale(0.95);
}