.botonGrilla{
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.grilla{
    text-align: center;
    font-weight: bold;
}

.grillaHeader{
    background-color: #0562fb;
    color: #fff;
    font-size: 18px;
}
